@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family:"Pretendard-Bold";
  src: url('/fonts/Pretendard-Bold.ttf')
}

@font-face {
font-family:'Pretendard-Regular';
src: url('/fonts/Pretendard-Regular.ttf')
}

@font-face {
font-family:'Pretendard-Medium';
src: url('/fonts/Pretendard-Medium.ttf')
}

@font-face {
font-family:'Pretendard-Light';
src: url('/fonts/Pretendard-Light.ttf')
}


@layer components {
  .rightmenu_li {
    @apply border-b border-solid p-3 border-gray-300
  }
  .button_li {
    @apply w-full flex items-center justify-between
  }
  .option_li {
    @apply text-sm font-bold top-[114px] text-[#747474]
  }
}